# Dependências Node.js
node_modules/
dist/

# Auxiliares LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.pdf
!main.pdf
!relatorio/folha-de-rosto.pdf
!slides/slides-export.pdf
